
<div class="grid sm:max-sm:grid-cols-1 lg:grid-cols-6 md:grid-cols-4 sm:grid-cols-2 gap-2 ...">
    @for (item of [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]; track $index) {
    <div class="border-solid border-red-300 rounded-md border-[.5px]">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ5A51DHb1thL0s0hX_-Bnk4oraNFEL-cPkA&s" class="w-full rounded-t-md" alt="Product Image">
      <p class="text-lg text-center font-semibold capitalize text-sky-400 m-0">product title</p>
      <p class="text-md text-start p-2 text-stone-600 m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni ex cum aut ab excepturi nobis explicabo dolore nisi! Temporibus, nulla.</p>
      <div class="flex justify-center p-2">
        <button class="bg-sky-200 text-stone-700 border-none rounded-r-xl p-2 px-8 capitalize font-medium text-[16px]"> buy</button>
      </div>
    </div>
  }
  </div>


